a {
  color: #dc747c !important;
}

a:hover {
  color: #6c5c7c !important;
}

h2 {
  color: #A96A7C !important;
}

#title-text {
  color: #6c5c7c;
  font-weight: 700;
}

.navbar {
  background-color: #FBEEEF;
}

.navbar-default .navbar-nav > li > a {
  color: #a96a7c;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #6c5c7c;
  font-weight: bold;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #a96a7c;
  background-color: transparent;
  text-decoration: underline;
}

.summary-title {
  color: #dc747c !important;
}

.summary-panel {
  background-color: #FBEEEF;
  box-shadow: none;
  border: none;
  margin-bottom: 10px;
}

.tab-title {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
  color: #A96A7C;
}