#title {
  color: #6c5c7c;
  font-weight: 700;
  display: inline-block;
}

#sub-title {
  color: #dc747c;
  font-weight: 500;
  display: inline-block;
}

.navbar-brand {
  height: 70;
  
}

.navbar {
  background-color: gray;
}

.navbar-default .navbar-brand {
  color: cyan;
}

.navbar-default .navbar-brand:hover {
  color: blue;
}

.navbar-default .navbar-nav > li > a {
  color:black;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: pink;
  background-color: purple;
}

.navbar-default .navbar-nav > li > a:hover {
  color: black;
  background-color:yellow;
  text-decoration:underline;
}











.main-steps-panel {
  background-color: #b2dcce;
  box-shadow: none;
  border: none;
  margin-bottom: 10px;
}

.main-steps-title {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 0;
  color: #D45F68;
}S